@page "/ui/"
@namespace Hearty.Server.Program.Pages
@model Hearty.Server.Program.Pages.HostPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/ui/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hearty.Server.Program</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/Hearty.Server.Program.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" 
               render-mode="ServerPrerendered" 
               param-ConnectionInfo="@Model.ConnectionInfo" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="~/_framework/blazor.server.js"></script>
</body>
</html>
