@page "/workers"

@inject JobSchedulingSystem _jobScheduling
@inject TimeoutProvider _timeoutProvider

<h1>Workers</h1>

<table class="job-queue">
    <colgroup>
        <col class="client" />
        <col class="count" />
    </colgroup>

    <thead>
        <tr>
            <th>Client</th>
            <th>Job Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (name, worker) in _jobScheduling.WorkerDistribution)
        {
            <tr>
                <td>@name</td>
                <td>@worker.AvailableResources</td>
            </tr>
        }
    </tbody>
</table>
