@page "/ui/"

@using Hearty.Server.WebUi.Pages;

<h1>Status</h1>

<div class="content">

    <p>
        This web site is the dashboard for the job server implemented
        using the Hearty framework.
    </p>

    <StatusView />

</div>
