@page "/mock-job-load"

@inject JobsManager _jobsManager
@inject PromiseStorage _promiseStorage

<h1>Mock Job Load</h1>

<table class="control-panel">

    <colgroup>
        <col class="client" />
        <col class="priority" />
        <col class="load" />
        <col class="load" />
        <col class="load" />
    </colgroup>

    @for (int i = 0; i < 3; ++i)
    {
        // Avoid lambda capture of mutable loop index
        int c = i;

        <tr class="client">
            <th class="client" rowspan="4">@GetClient(c)</th>
            <th>Priority</th>
            <th class="load" colspan="3">Job load</th>
        </tr>
        <tr>
            <td>High</td>
            <td class="load"><button @onclick="() => InjectJobs(c, 8, 0)">Light</button></td>
            <td class="load"><button @onclick="() => InjectJobs(c, 8, 1)">Medium</button></td>
            <td class="load"><button @onclick="() => InjectJobs(c, 8, 2)">Heavy</button></td>
        </tr>
        <tr>
            <td>Normal</td>
            <td class="load"><button @onclick="() => InjectJobs(c, 5, 0)">Light</button></td>
            <td class="load"><button @onclick="() => InjectJobs(c, 5, 1)">Medium</button></td>
            <td class="load"><button @onclick="() => InjectJobs(c, 5, 2)">Heavy</button></td>
        </tr>
        <tr>
            <td>Background</td>
            <td class="load"><button @onclick="() => InjectJobs(c, 2, 0)">Light</button></td>
            <td class="load"><button @onclick="() => InjectJobs(c, 2, 1)">Medium</button></td>
            <td class="load"><button @onclick="() => InjectJobs(c, 2, 2)">Heavy</button></td>
        </tr>
    }

</table>
