tr.priority-class {
    background-color: yellow;
    font-size: 0.8em;
}

tr.job-queue th {
    padding: 2px;
}

table.job-queue thead tr {
    border-top: none;
}

table.job-queue tr {
    border-top: 1px dashed grey;
}

table.job-queue tr.job-queue td:first-child {
    padding-left: 1em;
}

table.job-queue {
    width: 100%;
    color: #212529;
    border-collapse: collapse;
}

table.job-queue col.checkbox {
    width: 2em;
}

table.job-queue col.client {
    width: 9em;
}

/*
 * Styles to be inherited by the child Grid component
 */

::deep .job-ordinal {
    width: 4em;
}

::deep .job-client {
    width: 8em;
}

::deep .job-status {
    width: 6em;
}

::deep .job-id {
    width: 10em;
}

::deep .job-kill {
    width: 4em;
}

div.jobs ::deep table {
    font-size: 90%;
}