div.create-workers > table {
    table-layout: fixed;
    width: 18em;
}

div.create-workers > table th {
    width: 12em;
    font-weight: inherit;
}

div.create-workers > p {
    padding: 0.5em;
    margin-left: 2em;
}

div.create-workers {
    margin-top: 1.5em;
    padding-top: 1em;
    border-top: 1px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
