/*
 * Styles to be inherited by the child Grid component
 */

::deep .worker-name {
    width: 5em;
}

::deep .available {
    width: 2em;
}

::deep .capacity {
    width: 2em;
}

::deep .disconnect {
    width: 4em;
}
