@using Hearty.Scheduling
@using Microsoft.Extensions.Logging

@inherits TimedRefreshComponent
@inject WorkerDistribution<PromisedWork, PromiseData> _workerDistribution

<Grid Items="@_workerDistribution.Values">

    <PropertyColumn Title="Worker Name"
                    Property="@(worker => worker.Name)" 
                    Class="worker-name"
                    />

    <PropertyColumn Title="Capacity"
                    Property="@(worker => worker.AvailableResources)"
                    Class="available"
                    />

    @if (AllowDisconnect)
    {
        <TemplateColumn Title="Disconnect" Class="disconnect">
            @if (@context is IAsyncDisposable disposable)
            {
                <button @onclick="() => disposable.DisposeAsync()">🗙</button>    
            }
        </TemplateColumn>
    }
    else
    {
        <TemplateColumn Title="" Class="disconnect" />
    }

</Grid>
