@page "/ui/workers"
@using Hearty.Scheduling

@inject WorkerDistribution<PromisedWork, PromiseData> _workerDistribution
@inject TimeoutProvider _timeoutProvider

<h1>Workers</h1>

<div class="content">

    <Grid Items="@_workerDistribution.Values">

        <PropertyColumn Title="Worker Name"
                        Property="@(worker => worker.Name)" />

        <PropertyColumn Title="Capacity"
                        Property="@(worker => worker.AvailableResources)" />

        <TemplateColumn Title="Disconnect">
            @if (@context is IAsyncDisposable disposable)
            {
                <button @onclick="() => disposable.DisposeAsync()">🗙</button>    
            }
        </TemplateColumn>
    </Grid>

</div>

