@using Hearty.Scheduling
@using Microsoft.Extensions.Logging

@inherits TimedRefreshComponent
@inject WorkerDistribution<PromisedWork, PromiseData> _workerDistribution

<Grid Items="@_workerDistribution.Values">

    <PropertyColumn Title="Worker Name"
                    Property="@(worker => worker.Name)" />

    <PropertyColumn Title="Capacity"
                    Property="@(worker => worker.AvailableResources)" />

    <TemplateColumn Title="Disconnect">
        @if (@context is IAsyncDisposable disposable)
        {
            <button @onclick="() => disposable.DisposeAsync()">🗙</button>    
        }
    </TemplateColumn>
</Grid>

@code {
    /// <inheritdoc />
    protected override void OnInitialized()
        => StartRefreshing(TimeoutBucket.After5Seconds);
}
